<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generador de colores</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <form action="" method="POST" id="form">
      <input type="text" name="prompt" />
      <button class="btn">Submit</button>
    </form>
    <div class="container"></div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
